<!DOCTYPE html>
<html>
<head>
	<title>Khaled Alaa</title>
</head>
<body>
	<h1>Khaled Alaa</h1>
	<p>Email: khakedalaa58@yahoo.com</p>
	<p>LinkedIn: <a href="https://www.linkedin.com/in/khaled-alaa-M67/">www.linkedin.com/in/khaled-alaa-M67/</a></p>
	<p>Phone: 01014838337</p>
	<p>Location: 6th of October city</p>
	<h2>Summary</h2>
	<p>Junior Linux system administrator installing, configuring and maintaining operating system
(Linux) and web services. Also supporting, automating, and optimizing mission critical Linux
based deployments in production.</p>
	<h2>Experience</h2>
	<h3>System Administrator (Linux) - MUST University (11/2022 – Present)</h3>
	<ul>
		<li>Responsible for all of administration duties (Deploying – Installing – Troubleshooting -Configuration) on KVM for
(Red hat servers) in local /remote environment.</li>
		<li>Works on HA-Proxy as a load balancer</li>
		<li>How to deal with webservices (Apache – Tomcat - Nginx)</li>
		<li>Monitoring the service and how to resolve their issues.</li>
		<li>Administrating the performance tuning and resource optimization as required. Configure CPU, memory, and disk partitions
(logical and physical)</li>
		<li>Monitoring the system performances/services/network traffic using monitoring tools. (Prometheus & Grafana).</li>
		<li>Monitoring the utilization of resources by using node exporter</li>
		<li>Using Blackbox exporter for probing of endpoints over HTTP, HTTPS, DNS and TCP</li>
		<li>Configuration the alerting manager by sending email by issue like server down, fill the space and utilization rate in general
if the permissible limit is exceeded. And on the other hand, it is also sent to the chat group of work on teams and
telegrams by using the alert manager of Grafana.</li>
		<li>Using automated scripts by bash script.</li>
	</ul>
	<h3>Flutter Developer - CONIANO (05/2020 - 05/2021)</h3>
	<p>Projects:</p>
	<ol>
		<li>Mekasataty: is the first online market platform in Egypt, through which you can buy the products on installments.</li>
		<li>Pharmacito: The fastest pharmacy delivery app enabling you to easily order any medicine online from nearest pharmacy and get it immediately delivered to your home.</li>
	</ol>
	<h3>Planning-Solution (05/2021 – 09/2022)</h3>
	<p>Projects:</p>
	<ol>
		<li>Elm2oul: This is a special application for me, finishing the apartment, to obtain a contractor for finishing the apartment, or an agreement with a company.</li>
		<li>Chimix: This is an online Restaurant to Order the food and deliver it to the user.</li>
	</ol>
	<h3>Freelancing</h3>
	<p>Projects:</p>
	<ol>
		<li>Vany: This application is used for people with special needs to in transportation like (uber and careem) with van that can stabilize their chair in the car in an easy and safe way and the client book the trip previously.</li>
	
		</ol>
  <body>
    <h2>Education</h2>
    <ul>
      <li>Information Technology Bachelor’s Degree (Major: Computer Science)</li>
      <li>Misr University for Science and Technology</li>
      <li>09/2014 – 07/2018</li>
      <li>Overall Grade: Very Good</li>
      <li>CGPA: 3.1.</li>
      <li>Senior Project Grade: Excellent</li>
    </ul>
  </body>
</html>
